:root {
  --color-background: #1e1e1e;
  --color-text: #d4d4d4;
  --color-primary: #267f99;
  --color-primary-active: #098658;
  --color-secondary: #dcdcaa;

  color: var(--color-text);
  background: var(--color-background);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  min-block-size: 100dvh;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;

  &:is(:hover, :focus-visible) {
    color: var(--color-primary-active);
    text-decoration: underline;
  }
}

#app {
  margin: 0 auto;
  padding: 2rem;
  inline-size: min(80ch, 100%);
}
