:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #d4d4d4;
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #569cd6;
  text-decoration: inherit;
}
a:is(:hover, :focus-visible) {
  color: #569cd6;
}

body {
  min-block-size: 100dvh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  inline-size: min(80ch, 100%);
}
